name: Publish to NPM

on:
  release:
    types: [created]

permissions:
  id-token: write # Required for OIDC
  contents: read
  packages: read

jobs:
  publish:
    runs-on: ubuntu-latest
    if: ${{ github.repository == 'niku98/vite-env-caster' && github.repository_owner == 'niku98' }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: yarn
          registry-url: "https://registry.npmjs.org"

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Build
        run: yarn build

      - name: Publish
        run: yarn publish-packages ${{ github.ref_name }}
